<div class="row" style="margin: auto">
  <!-- Column for posts/chat -->
  <div class="col-md-10">
    <div class="holder">
      <as-split unit="percent" [direction]="direction" (dragEnd)="dragEnd('percent', $event)" #split="asSplit"
        style="height: 100%">
        <as-split-area size="60" #area1="asSplitArea">
          <h2>Posts</h2>
          <ng-container *ngFor="let post of posts">
            <div class="card">
              <div class="card-body">
                <a href="{{post.link}}">
                  <h5 class="card-title">{{post.title}}</h5>
                </a>
                <p class="card-text">{{post.owner}}</p>
              </div>
            </div>
          </ng-container>
        </as-split-area>
        <as-split-area id="chatarea" size="40" #area2="asSplitArea" class="px-4">
          <div id="yeet" class="d-flex flex-column align-items-center" style="height: 100%">

            <div id="chatfeed" class="mb-auto" style="padding-bottom: 12vh">

              <h2>Chat</h2>
              <ng-container *ngFor="let chat of chats">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{chat.message}}</h5>
                    <p class="card-text">{{chat.owner}}</p>
                  </div>
                </div>
              </ng-container>
            </div>
            <div id="chatbox" class="py-2" style="position: absolute; bottom: 3vh">
              <input autocomplete="off" type="text" name="chatInput" id="chatInput" class="form-control"
                placeholder="Send message..." [(ngModel)]="chatInput" (keyup.enter)="chatSubmit()">
            </div>
          </div>
        </as-split-area>
      </as-split>
    </div>
    <!-- <br>
    <div class="btns">
      <button class="btn btn-warning" style="width: 10vw"
        (click)="direction = (direction === 'horizontal') ? 'vertical' : 'horizontal'">{{ 'Toggle direction: "' + direction + '"' }}</button>
    </div> -->
  </div>
  <!-- Column for sidebar/group info -->
  <div class="col-md-2 text-center" style="background-color: #d4d4dd">
    <h3 class="mt-4">{{group.groupname}}</h3>
    <span class="mt-4">{{group.description}}</span>
  </div>
</div>