<div class="row" style="margin: auto">
  <!-- Column for posts/chat -->
  <div class="col-md-10">
    <div class="holder">
      <as-split unit="percent" [direction]="direction" (dragEnd)="dragEnd('percent', $event)" #split="asSplit"
        style="height: 100%">
        <as-split-area size="60" #area1="asSplitArea" style="padding-right: 15px" class="pt-2">
          <ng-container *ngFor="let post of posts">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">

                    <div class="votes mr-3 d-flex flex-column text-center">
                      <i class="fas fa-arrow-alt-circle-up" (click)="upvoteClick(post)"
                        [style.color]="post.upvoteToggled ? 'green' : 'gray'"></i>
                      <span>{{post.upvotes - post.downvotes}}</span>
                      <i class="fas fa-arrow-alt-circle-down" (click)="downvoteClick(post)"
                        [style.color]="post.downvoteToggled ? 'firebrick' : 'gray'"></i>
                    </div>
                    <div class="post-info">
                      <a href="{{post.link}}">
                        <h5 class="card-title">{{post.title}}</h5>
                      </a>
                      <p class="card-text">by: <a routerLink>{{post.owner}}</a></p>
                    </div>
                  </div>
                  <div class="post-comment d-flex flex-column">
                    <span>{{post.commentCount}} Comments</span>
                    <a routerLink="/p/{{post.id}}" class="btn btn-primary">View Comments</a>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </as-split-area>
        <as-split-area size="40" #area2="asSplitArea" class="px-4">
          <as-split direction="vertical" disabled gutterSize=0 unit="percent" class="pt-2">
            <as-split-area id="chatarea" size="90" style="border: 2px solid lightgray;" #chatarea
              [scrollTop]="chatarea.scrollHeight">

              <div id="chatfeed" class="mb-auto">
                <ng-container *ngFor="let chat of chats">
                  <div class="card mr-3 m-1">
                    <div class="card-body">
                      <h5 class="card-title">{{chat.message}}</h5>
                      <p class="card-text">{{chat.owner}}</p>
                    </div>
                  </div>
                </ng-container>
              </div>
            </as-split-area>

            <as-split-area size="10" class="pt-2">
              <div id="chatbox" class="py-2" *ngIf="isLoggedIn">
                <input autocomplete="off" type="text" name="chatInput" id="chatInput" class="form-control"
                  placeholder="Send message..." [(ngModel)]="chatInput" (keyup.enter)="chatSubmit()">
              </div>
            </as-split-area>
          </as-split>
        </as-split-area>
      </as-split>
    </div>
  </div>
  <!-- Column for sidebar/group info -->
  <div class="col-md-2 text-center d-flex flex-column align-items-center" style="background-color: #d4d4dd">
    <h3 class="mt-4">{{group.groupname}}</h3>
    <span class="mt-4">{{group.description}}</span>
    <div class="mt-1">
      <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#rosterModal">View
        Roster</button>
      <button *ngIf="!member && username" type="button" class="btn btn-primary" (click)="joinGroup()">Join</button>
      <button *ngIf="member && username" type="button" class="btn btn-primary" (click)="leaveGroup()">Leave</button>
    </div>
    <div class="mt-1">
      <button *ngIf="isOwner" type="button" class="btn btn-primary" data-toggle="modal" data-target="#inviteModal"
        (click)="refreshMembers()">Invite Users</button>
    </div>
  </div>
  <!-- Roster Modal -->
  <div id="rosterModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Roster: {{group.groupname}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="mb-2">
            <input type="text" name="roster-searchbox" id="roster-searchbox" class="filterinput form-control"
              [(ngModel)]="rosterSearchText" placeholder="Search roster...">
          </div>
          <ul class="list-group">
            <ng-container *ngFor="let membername of roster">
              <li
                *ngIf="group.groupname.toLowerCase().includes(rosterSearchText.toLowerCase()) || rosterSearchText === ''"
                class="list-group-item" (click)="navToUser($event)">{{membername}}</li>
            </ng-container>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- User Invite Modal -->
  <div id="inviteModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Invite User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="mb-2">
            <input type="text" name="user-searchbox" id="user-searchbox" class="filterinput form-control"
              [(ngModel)]="usersSearchText" placeholder="Search users...">
          </div>
          <ul class="list-group">
            <ng-container *ngFor="let user of usersToInvite">
              <li
                *ngIf="(user.username.toLowerCase().includes(usersSearchText.toLowerCase()) || usersSearchText === '')"
                class="list-group-item">
                <div class="d-flex align-items-center justify-content-between">{{user.username}}<button type="button"
                    class="btn btn-primary" (click)="inviteUser($event)">Invite</button>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>
        <div class=" modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>