<div class="row">
  <div class="my-4" style="width: 100%;">
    <input type="text" name="searchbox" id="searchbox" class="filterinput form-control" [(ngModel)]="searchText"
      placeholder="Search My Groups...">
  </div>

  <div class="card-columns">
    <ng-container *ngFor="let group of groups">
      <div class="card" *ngIf="group.groupname.toLowerCase().includes(searchText.toLowerCase()) || searchText === ''">
        <div class="card-body">
          <h5 class="card-title">{{group.groupname}}</h5>
          <p class="card-text">{{group.description}}</p>
          <a routerLink="/g/{{group.groupname}}" class="btn btn-primary">Visit</a>
        </div>
      </div>
    </ng-container>
  </div>
</div>