<div class="row mt-2">
  <div class="col-md-9">
    <h3>Settings</h3>
    <h6 id="new-email-text">Change your email address:</h6>
    <div class="d-flex">
      <input type="email" name="new-email-input" id="new-email-input" class="form-control" [(ngModel)]="emailText"
        placeholder="Enter your new email...">
      <button class="btn btn-primary" type="button" (click)="submitReset()">Reset</button>
    </div>
  </div>
  <div class="col-md-3 text-center">
    <h3>Invites</h3>
    <ul class="list-group">
      <ng-container *ngFor="let invite of invites">
        <li class="list-group-item align-items-center">
          <h5 class="d-block">{{invite}}</h5>
          <div class="d-flex justify-content-around">
            <button type="button" class="btn btn-primary" (click)="acceptInvite($event)">Accept</button>
            <button type="button" class="btn btn-danger" (click)="declineInvite($event)">Decline</button>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</div>