<nav class="navbar navbar-expand-md navbar-dark bg-primary" style="height: 5vh !important;">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Gathr</a>

    <!-- Toggler/collapsible Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">

      <ul class="navbar-nav ml-auto">
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a routerLink="/register" class="nav-link">Register</a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a routerLink="/login" class="nav-link">Login</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a routerLink="/u/{{loggedInUsername}}" class="nav-link"> {{loggedInUsername}} </a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a routerLink="/add-post" class="nav-link" (click)="onSubmitPostClick()"> Submit Post </a>
        </li>
        <!-- Dropdown -->
        <li *ngIf="isLoggedIn" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Groups
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/add-group">Create a Group</a>
            <a class="dropdown-item" routerLink="/find-groups">Find Groups</a>
            <a class="dropdown-item" routerLink="/my-groups">My Groups</a>
          </div>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a routerLink="/messages" class="nav-link">Messages</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a routerLink="/settings" class="nav-link">Settings</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a routerLink="#" (click)="onLogoutClick()" class="nav-link"> Logout </a>
        </li>
      </ul>
    </div>
  </div>
</nav>