<div class="mb-4">
  <input type="text" name="searchbox" id="searchbox" class="filterinput form-control" placeholder="Search groups...">
</div>

<div class="row">
  <div class="card-columns">
    <ng-container *ngFor="let group of groups">
      <div class="card" *ngIf="group.public === true">
        <div class="card-body">
          <h5 class="card-title">{{group.groupname}}</h5>
          <p class="card-text">{{group.description}}</p>
          <a routerLink="/group/{{group.id}}" class="btn btn-primary">Visit</a>
        </div>
      </div>
    </ng-container>
  </div>
</div>