<div class="row m-0 page-component">
  <div class="col-md-3 p-0 bc-darkgray">
    <div class="bg-dark">
      <div class="d-flex justify-content-around align-items-center py-2">
        <h4 class="text-white my-0">Conversations</h4>
        <button id="add-convo-extend-btn" type="button" class="btn btn-light" (click)="toggleAddConversation()"><i
            class="fas fa-plus"></i></button>
      </div>
      <div class="add-conversation-input-group input-group mb-2 px-2 pb-2" style="display: none;">
        <input id="addConversationInput" type="text" class="form-control" placeholder="Enter Username..."
          aria-label="Enter Username..." aria-describedby="basic-addon2" [(ngModel)]="addConversationInput"
          (keyup.enter)="addConversationSubmit()">
        <div class="input-group-append">
          <span class="input-group-button" id="basic-addon2"><button type="button" class="btn btn-dark ml-1"
              (click)="addConversationSubmit()"><i class="fas fa-arrow-right"></i></button></span>
        </div>
      </div>
    </div>
    <ul class="list-group ml-2 mb-3">
      <ng-container *ngFor="let conversation of conversations">
        <li class="list-group-item d-flex justify-content-between align-items-center bc-gray">
          <span class="conversation-span">{{getOtherParticipant(conversation)}}</span>
          <div class="d-flex align-items-end">
            <button type="button" class="root-btn btn btn-primary ml-2" (click)="viewConversation(conversation)"><i
                class="fas fa-comments"></i></button>
            <button type="button" class="root-btn btn btn-danger ml-2" (click)="expandDeleteModal(conversation)"><i
                class="fas fa-times"></i></button>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="col-md-9">
    <div id="convo-space" *ngIf="isConversationSelected; else defaultConversationView">
      <as-split direction="vertical" disabled gutterSize=0 unit="percent" class="pt-2">
        <as-split-area id="messagearea" size="90" #messagearea [scrollTop]="messagearea.scrollHeight">

          <div id="messagefeed" class="mb-auto p-1">
            <ng-container *ngFor="let message of messages">
              <p>
                <strong>{{message.sender}}: </strong>{{message.text}}
              </p>
            </ng-container>
          </div>
        </as-split-area>

        <as-split-area size="10" class="pt-2">
          <div id="messagebox" class="py-2">
            <input autocomplete="off" type="text" name="messageInput" id="messageInput" class="form-control"
              placeholder="Send message..." [(ngModel)]="messageInput" (keyup.enter)="messageSubmit()">
          </div>
        </as-split-area>
      </as-split>
    </div>
    <ng-template #defaultConversationView>
      <h2 class="m-4">Add or select a conversation on the left!</h2>
    </ng-template>
  </div>
  <!-- Delete Conversation Modal -->
  <div id="deleteConversationModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Are you sure you want to delete this conversation?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{otherParticipantToDelete}}
        </div>
        <div class="modal-footer d-flex justify-content-around">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteConversation()">Yes,
            delete.</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>