<div class="row m-0 page-component">
  <div class="col-md-3 pr-0" style="background-color: #d4d4dd">
    <div class="bg-dark">
      <div class="d-flex justify-content-around align-items-center py-2" style="width: 100%">
        <h4 class="text-white my-0">Conversations</h4>
        <button type="button" class="btn btn-light" style="padding: 4px 8px" (click)="toggleAddConversation()"><i
            class="fas fa-plus"></i></button>
      </div>
      <div class="add-conversation-input-group input-group mb-2 px-2 pb-2" style="display: none;">
        <input type="text" class="form-control" placeholder="Enter Username..." aria-label="Enter Username..."
          aria-describedby="basic-addon2" [(ngModel)]="addConversationInput" (keyup.enter)="addConversationSubmit()">
        <div class="input-group-append">
          <span class="input-group-button" id="basic-addon2"><button type="button" class="btn btn-dark ml-1"
              (click)="addConversationSubmit()"><i class="fas fa-arrow-right"></i></button></span>
        </div>
      </div>
    </div>
    <ul class="list-group ml-2 mb-3">
      <ng-container *ngFor="let conversation of conversations">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{getOtherParticipant(conversation)}}<button type="button" class="root-btn btn btn-primary ml-3"
            (click)="viewConversation(conversation)">View</button></li>
      </ng-container>
    </ul>
  </div>
  <div class="col-md-9">
    <div *ngIf="conversationSelected; else defaultConversationView">
      <as-split direction="vertical" disabled gutterSize=0 unit="percent" class="pt-2" style="max-height: 100%">
        <as-split-area id="messagearea" size="90" style="border: 2px solid lightgray;" #messagearea
          [scrollTop]="messagearea.scrollHeight">

          <div id="messagefeed" class="mb-auto p-1">
            <ng-container *ngFor="let message of messages">
              <p>
                <strong>{{message.sender}}: </strong>{{message.text}}
              </p>
            </ng-container>
          </div>
        </as-split-area>

        <as-split-area size="10" class="pt-2">
          <div id="messagebox" class="py-2">
            <input autocomplete="off" type="text" name="messageInput" id="messageInput" class="form-control"
              placeholder="Send message..." [(ngModel)]="messageInput" (keyup.enter)="messageSubmit()">
          </div>
        </as-split-area>
      </as-split>
    </div>
    <ng-template #defaultConversationView>
      <h2>Add or select a conversation on the left!</h2>
    </ng-template>
  </div>
</div>