<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-left"></i> Back to Dashboard
    </a>
  </div>
  <div class="col-md-6"></div>
</div>

<div class="card">
  <div class="card-header">
    Add Group
  </div>
  <div class="card-body">
    <form #groupForm="ngForm" (ngSubmit)="onSubmit(groupForm)">
      <div class="form-group">
        <label for="groupname">Group Name</label>
        <input type="text" class="form-control" name="groupname" #groupname="ngModel" [(ngModel)]="group.groupname"
          required>
      </div>
      <div class="form-group">
        <label for="description">Group Name</label>
        <textarea class="form-control" name="description" #description="ngModel" [(ngModel)]="group.description"
          required></textarea>
      </div>
      <div class="form-check pb-2">
        <label class="form-check-label">
          <input type="radio" value="true" name="publicprivateradio" [checked]="group.public === true"
            (change)="group.public = true"> Public
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" value="false" name="publicprivateradio" [checked]="group.public === false"
            (change)="group.public = false">
          Private
        </label>
      </div>

      <input type="submit" value="Submit" class="btn btn-primary btn-block mt-3">
    </form>
  </div>
</div>