<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-left"></i> Back to Dashboard
    </a>
  </div>
  <div class="col-md-6"></div>
</div>

<div class="card">
  <div class="card-header">
    Add Group
  </div>
  <div class="card-body">
    <form #groupForm="ngForm" (ngSubmit)="onSubmit(groupForm)">
      <div class="form-group">
        <label for="groupName">Group Name</label>
        <input type="text" class="form-control" name="groupName" #groupName="ngModel" [(ngModel)]="group.groupName"
          required>
      </div>
    </form>
  </div>
</div>