<div class="spacing"></div>

<div class="d-flex justify-content-between">
  <div class="mb-3">
    <h3 *ngIf="!post.isTextPost"><a href="{{post.link}}">{{post.title}}</a></h3>
    <h3 *ngIf=" post.isTextPost">{{post.title}}</h3>
    <h5>{{post.owner}}</h5>
    <p>{{post.body}}</p>
    <button *ngIf="isLoggedIn" type="button" class="btn btn-primary mr-2" (click)="toggleRootAdd()">Reply</button>
    <button *ngIf="post.owner === username" type="button" class="btn btn-warning mr-2" (click)="toggleRootEditState()"
      [disabled]="post.isDisabled">Edit</button>
    <button *ngIf="post.owner === username" type="button" class="btn btn-danger" (click)="deletePost()"
      [disabled]="post.isDisabled">Delete</button>
  </div>
  <ul class="list-group ml-2 mb-3">
    <ng-container *ngFor="let group of groups">
      <li class="list-group-item d-flex justify-content-between align-items-center">{{group.groupname}}<button
          type="button" class="root-btn btn btn-primary ml-3" (click)="visit(group)">Visit</button></li>
    </ng-container>
  </ul>
</div>

<div class="card mb-5 root-comment-form-card">
  <div class="card-body">
    <div class="form-group">
      <textarea autocomplete="off" type="text" name="commentInput" id="commentInput" class="form-control"
        [(ngModel)]="commentInput"></textarea>
    </div>
    <button type="button" class="btn btn-primary mt-2"
      (click)="rootSubmit()">{{!rootEditState ? 'Add' : 'Save'}}</button>
  </div>
</div>

<ng-container *ngFor="let comment of comments">
  <div class="d-flex bg-light">
    <span class="comment-divider" *ngFor="let item of [].constructor(comment.level); let i = index">
    </span>
    <div class="d-flex flex-column py-2">
      <p class="card-title">{{comment.author}}
        <button *ngIf="isLoggedIn" class="btn btn-primary btn-small ml-1"
          (click)="toggleChildAdd($event, comment)">Reply</button>
        <button *ngIf="comment.author === username" class="btn btn-warning btn-small ml-1"
          (click)="toggleChildEditState($event, comment)" [disabled]="comment.isDisabled">Edit</button>
        <button *ngIf="comment.author === username" class="btn btn-danger btn-small ml-1"
          (click)="deleteComment(comment)" [disabled]="comment.isDisabled">Delete</button>
      </p>
      <p class="card-text">{{comment.text}}</p>
      <div class="card mb-5 comment-comment-form-card">
        <div class="card-body">
          <div class="form-group">
            <textarea autocomplete="off" type="text" name="commentInput" id="commentInput" class="form-control"
              [(ngModel)]="commentInput"></textarea>
          </div>
          <button type="button" class="btn btn-primary mt-2"
            (click)="childSubmit(comment)">{{!childEditState ? 'Add' : 'Save'}}</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>