.comment-divider {
  border-left: 1.7px solid gray;
  padding-right: 2vw;
  content: ' ';
}

.spacing {
  margin-top: 30px;
}

.root-comment-form-card {
  display: none;
}

.flex-column {
  width: 100%;
}

.btn-small {
  padding: 3px;
}

.comment-comment-form-card {
  display: none;
}
